
body{background-color: darkorange;}

img{width: 600px; height: 600px; border-radius: 50%; margin-right: auto;}


p{font-family: Verdana, Geneva, Tahoma, sans-serif; size: 10pt;}

h1{font-family: Verdana, Geneva, Tahoma, sans-serif;}
